mixin about-text()
	+b('fieldset').about-text&attributes(attributes)
		block
		+e('h2').title(class='form__title')
			| Расскажите о себе словами
		+e('h3').subtitle(class='form__subtitle')
			| Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати,
			| будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
		+e.input-textarea
			textarea.input-textarea(rows='18')= getData('aboutWork')