.about-text
	margin-top 56px
	border none
	&__input-textarea
		margin-top 19px
.input-textarea
	overflow-y auto
	width 100%
	font-family 'Courier New PSMT', 'Courier New', 'Courier'
	font-size 30px
	font-weight 400
	line-height 57px
	text-align justify
	color #231f20
	background-color transparent
	background-image linear-gradient(transparent 54px, #3d201b 54px, #3d201b 57px, transparent 57px)
	background-attachment local
	background-size 100% 57px
	border none
