.form
	&__title
		font-size 24px
		font-weight 700
		line-height 49px
		color #2f1b15
	&__subtitle
		font-size 15px
		line-height 23px
		color #3d3d3d
	&__input-text
		margin-top 9px
		&:first-of-type
			margin-top 0