include ../personal-info/personal-info
include ../about-info/about-info
include ../js-level/js-level
include ../about-text/about-text
include ../future-plans/future-plans

mixin form()
	+b.form&attributes(attributes)
		block
		+personal-info
		+about-info
		+js-level
		+about-text
		+future-plans