.input-text
	display flex
	align-items flex-start
	&__label
		margin-right 19px
		font-size 22px
		font-weight 700
		line-height 50px
		flex-shrink 0
		color #2f1b15
	&__input
		padding-left 15px
		width 100%
		font-family 'CourierNew'
		font-size 30px
		line-height 36px
		color #231f20
		background-color transparent
		border solid transparent
		border-width 0 0 3px
		border-image url(../images/sprites/input.png) 3 repeat