.input-radiobutton
	position relative
	margin-left 20px
	&:first-of-type
		margin-left 0
	&__label
		position relative
		padding-left 35px
		font-size 20px
		font-weight 700
		line-height 25px
		cursor pointer
	&__input
		top 0
		left 0
		visually-hidden()
		&:checked + .input-radiobutton__box
			sprite($radiobutton_checked)
		&:focus + .input-radiobutton__box
			/*sprite($checkbox__outline)*/
		&:checked + .input-radiobutton__label::before
			sprite($radiobutton_checked)
	&__box
		position absolute
		top 0
		left 0
		sprite($radiobutton)