include ../input-radiobutton/input-radiobutton

mixin future-plans()
	+b('fieldset').future-plans&attributes(attributes)
		block
		+e('h2').title(class='form__title')
			| Какие у вас планы на будущее?
		+e('h3').subtitle(class='form__subtitle')
			| Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
		.plan-radiobuttons
			each item, index in getData('futurePlansInfo')
				+input-radiobutton(index, item.label, item.value, item.name, item.checked)
