.future-plans
	margin-top 43px
	border none
	&__subtitle
		margin-top -4px

.plan-radiobuttons
	display flex
	flex-wrap wrap
	margin-top 15px
	@media screen and (max-width: 935px)
		justify-content: space-between
