.profile
	padding 48px 119px 67px 112px
	font-family 'PT Sans'
	font-weight 400
	background-image url(/images/background.jpg)
	&__header
		display flex
		justify-content space-between
		align-items center
	&__link
		margin-top -24px
	&__image
		margin-right -65px
	&__title-outer
		display flex
		justify-content center
	&__title
		margin-left -35px
	&__form
		margin-top 59px