include ../form/form

mixin profile()
	+b.profile&attributes(attributes)
		block
		+e('header').header
			+e('a').link(href="https://csssr.ru" target="blank")
				+e('img').logo(src="images/logo.png", alt="csssr")
			+e('img').image(src="images/secretly.png", alt="secretly only")
		+e('main').main
			+e('img').title(src="images/profile.png", alt="profile title")
			+form(class="profile__form", method="POST")
