.profile
	padding 58px 108px 67px
	font-family 'PT Sans'
	font-weight 400
	background-image url(/images/background.jpg)
	&__header
		display flex
		justify-content space-between
		align-items center
	&__image
		margin-right -54px
	&__title
		margin 0 auto
		display block
	&__form
		margin-top 61px