.slider
	position relative
	margin-left 1px
	padding-top 31px
	cursor move
	&__line
		position relative
		sprite($slider_line)
		width auto
		background-repeat no-repeat
		@media screen and (max-width: 840px)
			&::after
				position absolute
				top 0
				right 0
				display block
				width 2px
				height 23px
				content ''
				background-color #3d3d3d
	&__pointer
		sprite($slider_pointer)
		position absolute
		top 8px
		left 80%
	&__separators
		position relative
		margin-top 3px
		@media screen and (max-width: 650px)
			display none
	&__separator
		position absolute
		top 0
		width 100%
		max-width 175px
		@media screen and (max-width: 935px)
			max-width 140px
		&:first-of-type
			left 0
		&:nth-of-type(2)
			left 19%
		&:nth-of-type(3)
			left 47.7%
		&:last-of-type
			left 77.7%
			text-align right
	&__separator-name
		font-size 13px
		font-weight 700
		color #2f1b15
	&__subtitle
		margin-top -4px
