.input-checkbox
	position relative
	margin-bottom 9px
	display block
	&__label
		position relative
		padding-left 25px
		font-size 21px
		font-weight 700
		line-height 25px
		cursor pointer
		color #000000
	&__link
		text-decoration underline
		color #1f5f97
		transition color .25s ease
		&:hover
			color #2675BA
	&__input
		top 0
		left 0
		visually-hidden()
		&:checked + .input-checkbox__box
			sprite($checkbox_checked)
		&:focus + .input-checkbox__box
			/*sprite($checkbox__outline)*/
	&__box
		position absolute
		top -5px
		left 0
		sprite($checkbox)
	&_high
		grid-row span 2
